<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link href="../static/input.css" rel="stylesheet"> -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.css"  rel="stylesheet" />
    
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
    <script>
        tailwind.config = {
          theme: {
            extend: {
              colors: {
                clifford: '#da373d',
              }
            }
          }
        }
      </script>
    <style type="text/tailwindcss">
        @layer utilities {
          .content-auto {
            content-visibility: auto;
          }
        }
    </style>
    <title>Página Principal - Proyecto Subacom DMS</title>
</head>
<body class="bg-gray-700 flex flex-col min-h-screen">
    <!-- Navbar -->
  <nav th:insert="homeTemplate.html :: nav"></nav>
  <main class="pt-[92px] px-5 pb-4 flex flex-col items-center"> 
    <div class="max-w-screen-xl flex flex-col w-full ">
        <!-- Title and Breadcrumb -->
        <nav class="flex mb-4" aria-label="Breadcrumb">
            <ol class="inline-flex items-center space-x-1 md:space-x-3">
            <li class="inline-flex items-center">
                <a href="../index.html" class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-blue-600 dark:text-gray-400 dark:hover:text-white">
                <svg class="w-3 h-3 mr-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                    <path d="m19.707 9.293-2-2-7-7a1 1 0 0 0-1.414 0l-7 7-2 2a1 1 0 0 0 1.414 1.414L2 10.414V18a2 2 0 0 0 2 2h3a1 1 0 0 0 1-1v-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 0 1 1h3a2 2 0 0 0 2-2v-7.586l.293.293a1 1 0 0 0 1.414-1.414Z"/>
                </svg>
                Inicio
                </a>
            </li>
            <!-- <li>
                <div class="flex items-center">
                <svg class="w-3 h-3 text-gray-400 mx-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
                </svg>
                <a href="#" class="ml-1 text-sm font-medium text-gray-700 hover:text-blue-600 md:ml-2 dark:text-gray-400 dark:hover:text-white">Empleados</a>
                </div>
            </li> -->
            <li aria-current="page">
                <div class="flex items-center">
                <svg class="w-3 h-3 text-gray-400 mx-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
                </svg>
                <span class="ml-1 text-sm font-medium text-gray-500 md:ml-2 dark:text-gray-400">Usuarios</span>
                </div>
            </li>
            </ol>
        </nav>
        <!-- Main heading -->
        <h2 class="mb-4 text-4xl font-extrabold text-gray-900 dark:text-white md:text-5xl lg:text-5xl"><span class="text-transparent bg-clip-text bg-gradient-to-r from-blue-500 to-blue-600">Usuarios</span></h2>
        
        <!-- subtitle -->
        <h3 class="text-3xl font-bold dark:text-white mb-4">Registrar usuario</h3>

        <form th:action="@{/registrarusuario}" method="post" class="mb-6 flex flex-col" th:object="${usuario}">
            
            <div class="flex gap-4">
              <!-- Dropdown rol -->
              <div class="mb-6 w-full md:min-w-[280px] md:w-[300px] lg:w-1/4">
                <select th:field="*{rol.id_role}" id="countries" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                    <option th:each=" rol: ${roles}" th:text="${rol.role_name}" th:value="${rol.id_role}" >Ordenadores</option>
                </select>
            </div>
              <a th:href="@{/rol}">
                <button type="button" class="text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">Añadir nuevo rol</button>
              </a>
            </div>

            <div class="flex flex-wrap gap-2">
                <div class="mb-6 w-full md:min-w-[280px] md:w-[300px] lg:w-1/4">
                    <label for="user_name_input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nombres de usuario:</label>
                    <input th:field="*{user_name}" type="text" id="user_name_input" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required>
                </div>
                <div class="mb-6 w-full md:min-w-[280px] md:w-[300px] lg:w-1/4">
                  <label for="user_password_input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Contraseña</label>
                  <input  th:field="*{user_password}" type="password" id="user_password_input" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required>
                </div>
            </div> 
            <div class="flex items-start mb-6">
              <div class="flex items-center h-5">
                  <input th:field="*{estado}" id="remember" type="checkbox" class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-blue-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800" required>
              </div>
              <label for="remember" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Habilitado</label>
            </div>         

            <button id="registerUserButton" type="submit" class="text-white bg-gradient-to-r from-cyan-500 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-cyan-300 dark:focus:ring-cyan-800 font-medium rounded-lg text-base px-5 py-3 text-center mr-2 mb-2 md:w-fit">Enviar y registrar</button>
            
        </form>

        <!-- subtitle -->
        <h3 class="text-3xl font-bold dark:text-white my-4">Registrar empleado</h3>

        <form id="empleadoForm"  th:action="@{/registrarempleado}" method="post"  th:object="${empleado}">
            <div class="flex gap-4">
                <!-- Dropdown rol -->
              <div class="mb-6 w-full md:min-w-[280px] md:w-[300px] lg:w-1/4">
                  <label for="usuario_select" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Usuario:</label>
                  <select th:field="*{usuario.id_user}" id="usuario_select" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                      <option th:each=" usuario: ${usuarios}" th:text="${usuario.user_name}" th:value="${usuario.id_user}">id_user</option>
                  </select>
              </div>
            </div>
            <div class="flex flex-wrap gap-2">
                <div class="mb-6 w-full md:min-w-[280px] md:w-[300px] lg:w-1/4">
                    <label for="employee_name_input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nombres:</label>
                    <input th:field="*{employee_name}" type="text" id="employee_name_input" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required>
                </div>
                <div class="mb-6 w-full md:min-w-[280px] md:w-[300px] lg:w-1/4">
                    <label for="employee_dni_input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">DNI:</label>
                    <input th:field="*{employee_dni}" type="text" id="employee_dni_input" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required>
                </div>
            </div>
            <div class="flex flex-wrap gap-2">
              <div class="mb-6 w-full md:min-w-[280px] md:w-[300px] lg:w-1/4">
                  <label for="employee_first_lastname_input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Apellido paterno:</label>
                  <input th:field="*{employee_first_lastName}" type="text" id="employee_first_lastname_input" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required>
              </div>
              <div class="mb-6 w-full md:min-w-[280px] md:w-[300px] lg:w-1/4">
                  <label for="employee_first_lastname_input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Apellido materno:</label>
                  <input th:field="*{employee_second_lastNname}"  type="text" id="employee_first_lastname_input" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required>
              </div>
            </div>
            <div class="flex flex-wrap gap-2">
              <div class="mb-6 w-full md:min-w-[280px] md:w-[300px] lg:w-1/4">
                  <label for="employee_email_input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Correo:</label>
                  <input th:field="*{employee_email}" type="email" id="employee_email_input" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="nombre@mail.com" required>
              </div>
              <div class="mb-6 w-full md:min-w-[280px] md:w-[300px] lg:w-1/4">
                  <label for="employee_phone_input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Teléfono: </label>
                  <input th:field="*{employee_phone}" type="number" id="employee_phone_input" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required>
              </div>
            </div>
            

            <div class="flex flex-wrap gap-2">
              <!-- datepicker input -->
              <div class="w-full md:min-w-[280px] md:w-[300px] lg:w-1/4">
                <label for="text" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Fecha de contratación:</label>
                <div class="relative mb-6">
                  <div class="absolute inset-y-0 left-0 flex items-center pl-3.5 pointer-events-none">
                    <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                      <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
                    </svg>
                  </div>
                  <input type="date" th:field="*{hire_date}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Seleccione fecha">
                </div>
              </div>
              <!-- radio gender -->
              <div class="w-full md:min-w-[280px] md:w-[300px] lg:w-1/4">
                <h3 class="mb-2 text-sm font-medium text-gray-900 dark:text-white">Sexo: </h3>
                <ul class="items-center w-full text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg sm:flex dark:bg-gray-700 dark:border-gray-600 dark:text-white">
                    <li class="w-full border-b border-gray-200 sm:border-b-0 sm:border-r dark:border-gray-600">
                        <div class="flex items-center pl-3">
                            <input th:field="*{employee_gender}" value="Masculino" id="horizontal-list-radio-license" type="radio" name="list-radio" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                            <label for="horizontal-list-radio-license" class="w-full py-2.5 ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Masculino </label>
                        </div>
                    </li>
                    <li class="w-full border-b border-gray-200 sm:border-b-0 sm:border-r dark:border-gray-600">
                        <div class="flex items-center pl-3">
                            <input th:field="*{employee_gender}" value="Femenino" id="horizontal-list-radio-id" type="radio" name="list-radio" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                            <label for="horizontal-list-radio-id" class="w-full py-2.5 ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Femenino</label>
                        </div>
                    </li>
                </ul>
              </div>
            </div>


            <div class="flex items-start mb-6">
              <div class="flex items-center h-5">
                  <input th:field="*{estado}" id="remember" type="checkbox" class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-blue-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800" required>
              </div>
              <label for="remember" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Habilitado</label>
            </div>
            <button id="registerUserButton" type="submit" class="text-white bg-gradient-to-r from-cyan-500 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-cyan-300 dark:focus:ring-cyan-800 font-medium rounded-lg text-base px-5 py-3 text-center mr-2 mb-2">Enviar y guardar</button>
        </form>
        
        <!-- subtitle -->
        <h3 class="text-3xl font-bold dark:text-white mt-8">Lista de usuarios</h3>
        <!-- Table -->
        <div class=" my-5 relative overflow-x-auto shadow-md sm:rounded-lg border  dark:border-gray-500">
          <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
              <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                  <tr>
                      <th scope="col" class="px-6 py-3">
                          ID Usuario
                      </th>
                      <th scope="col" class="px-6 py-3">
                          Nombre de usuario
                      </th>
                      <th scope="col" class="px-6 py-3">
                          Rol
                      </th>
                      <th scope="col" class="px-6 py-3">
                        Estado
                    </th>
                      <th scope="col" class="px-6 py-3 text-center">
                        Actualizar
                      </th>
                      <th scope="col" class="px-6 py-3 text-center">
                        Habilitar
                      </th>
                      <!-- <th scope="col" class="px-6 py-3">
                          <span class="sr-only">Edit</span>
                      </th> -->
                  </tr>
              </thead>
              <tbody id="empleado_tbody">
                <tr th:each="usuario: ${usuarios}" th:attr="usuario.id_user=${usuario.id_user}, rol.id_role=${usuario.rol.id_role}" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                    <th th:text="${usuario.id_user}" scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        1
                    </th>
                    <td th:text="${usuario.user_name}" class="px-6 py-4">
                        Luis Gerardo
                    </td>
                    <td th:text="${usuario.rol.role_name}" class="px-6 py-4">
                      luisbi@subacom.com
                      </td>
                    <td th:text="${usuario.estado} ? 'Habilitado' : 'Deshabilitado'" class="px-6 py-4">
                      luisbi@subacom.com
                      </td>
                    <td class="px-6 py-4 text-center">
                        <a th:href="@{/actualizarusuariopage/{id}(id=${usuario.id_user})}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Actualizar</a>
                    </td>
                    <td class="px-6 py-4 text-center">
                      <a th:href="@{/eliminarusuario/{id}(id=${usuario.id_user})}" th:text="${usuario.estado} ? 'Deshabilitar' : 'Habilitar'" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Habilitar</a>
                  </td>
                </tr>
            </tbody>
          </table>
        </div>

        <!-- subtitle -->
        <h3 class="text-3xl font-bold dark:text-white mt-8">Lista de empleados</h3>
        <!-- Table -->
        <div class=" my-5 relative overflow-x-auto shadow-md sm:rounded-lg border  dark:border-gray-500">
          <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
              <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                  <tr>
                      <th scope="col" class="px-6 py-3">
                          ID Usuario
                      </th>
                      <th scope="col" class="px-6 py-3">
                          Nombres
                      </th>
                      <th scope="col" class="px-6 py-3">
                          Apellidos
                      </th>
                      <th scope="col" class="px-6 py-3">
                        DNI
                      </th>
                      <th scope="col" class="px-6 py-3">
                          Email
                      </th>
                      <th scope="col" class="px-6 py-3">
                        Nombre de usuario
                      </th>
                      <th scope="col" class="px-6 py-3">
                        Teléfono
                      </th>
                      <th scope="col" class="px-6 py-3">
                        Género
                      </th>
                      <th scope="col" class="px-6 py-3">
                        Fecha de contratación
                      </th>
                      <th scope="col" class="px-6 py-3">
                        Estado
                      </th>
                      <th scope="col" class="px-6 py-3 text-center">
                        Actualizar
                      </th>
                      <th scope="col" class="px-6 py-3 text-center">
                        Habilitar
                      </th>
                      <!-- <th scope="col" class="px-6 py-3">
                          <span class="sr-only">Edit</span>
                      </th> -->
                  </tr>
              </thead>
              <tbody id="empleado_tbody">
                  <tr th:each="empleado: ${empleados}" th:attr="empleado.id_employee=${empleado.id_employee}, empleado.id_user=${empleado.usuario.id_user}" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                      <th th:text="${empleado.id_employee}" scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                          1
                      </th>
                      <td th:text="${empleado.employee_name}" class="px-6 py-4">
                          Luis Gerardo
                      </td>
                      <td th:text="${empleado.employee_first_lastName} + ' ' + ${empleado.employee_second_lastNname}" class="px-6 py-4">
                          Bigoria Escobedo
                      </td>
                      <td th:text="${empleado.employee_dni}" class="px-6 py-4">
                        luisbi@subacom.com
                        </td>
                      <td th:text="${empleado.employee_email}" class="px-6 py-4">
                        luisbi@subacom.com
                      </td>
                      <td th:text="${empleado.usuario.user_name}" class="px-6 py-4">
                        luisbi@subacom.com
                      </td>
                      <td th:text="${empleado.employee_phone}" class="px-6 py-4">
                        luisbi@subacom.com
                      </td>
                      <td th:text="${empleado.employee_gender}" class="px-6 py-4">
                        luisbi@subacom.com
                      </td>
                      <td th:text="${#dates.format(empleado.hire_date, 'dd/MM/yyyy')}" class="px-6 py-4">
                        luisbi@subacom.com
                      </td>
                      <td th:text="${empleado.estado} ? 'Habilitado' : 'Deshabilitado'" class="px-6 py-4">
                        luisbi@subacom.com
                      </td>
                      <td class="px-6 py-4 text-center">
                          <a th:href="@{/actualizarempleadopage/{id}(id=${empleado.id_employee})}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Actualizar</a>
                      </td>
                      <td class="px-6 py-4 text-center">
                        <a th:href="@{/eliminarempleado/{id}(id=${empleado.id_employee})}" th:text="${empleado.estado} ? 'Deshabilitar' : 'Habilitar'" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Habilitar</a>
                    </td>
                  </tr>
              </tbody>
          </table>
        </div>

    </div>
  </main>
    
  <footer class="bg-white rounded-lg shadow m-4 dark:bg-gray-800 mt-auto">
    <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
      <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2023 <a href="https://flowbite.com/" class="hover:underline">Subacom™</a>. Diseñado por @GonzaloGutierrez
    </span>
    <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0">
        <li>
            <a href="#" class="hover:underline">Contacto</a>
        </li>
    </ul>
    </div>
  </footer>

  <!-- flowbite -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.js"></script>
  <script type="module" src="../../static/js/empleado.js"></script>
  <!-- <script type="module" src="../../static/js/components/tableCell.js"></script> -->
  <script src="../../static/js/components/navbar.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/datepicker.min.js"></script>
</body>
</html>