<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link href="../static/input.css" rel="stylesheet"> -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.css"  rel="stylesheet" />
    
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
    <script>
        tailwind.config = {
          theme: {
            extend: {
              colors: {
                clifford: '#da373d',
              }
            }
          }
        }
      </script>
    <style type="text/tailwindcss">
        @layer utilities {
          .content-auto {
            content-visibility: auto;
          }
        }
    </style>
    <title>Página producto - Proyecto Subacom DMS</title>
</head>
<body class="bg-gray-700 flex flex-col min-h-screen">
    <!-- Navbar -->
  <!-- <nav class="bg-white dark:bg-gray-900 fixed w-full z-20 top-0 left-0 border-b border-gray-200 dark:border-gray-600">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
    <a href="../index.html" class="flex items-center">
        <img src="https://flowbite.com/docs/images/logo.svg" class="h-8 mr-3" alt="Flowbite Logo">
        <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Subacom DMS</span>
    </a>
    <div class="flex md:order-2">
      <a href="../Documento/documento.html">
        <button type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 text-center mr-3 md:mr-0 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Revisar Documentos</button>
      </a>
        <button data-collapse-toggle="navbar-sticky" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-sticky" aria-expanded="false">
          <span class="sr-only">Abrir menú principal</span>
          <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
          </svg>
      </button>
    </div>
    <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-sticky">
      <ul class="flex flex-col p-4 md:p-0 mt-4 font-medium border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
        <li>
          <a href="../index.html" class="block py-2 pl-3 pr-4 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 md:dark:text-blue-500" aria-current="page">Inicio</a>
        </li>
        <li>
          <a href="../Empleado/empleado.html" class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Empleado</a>
        </li>
         <li>
          <a href="./rol/rol.html" class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Revisar Documentos</a>
        </li>
      </ul>
    </div>
    </div>
  </nav> -->
  <main class="pt-[92px] px-5 pb-4 flex flex-col items-center"> 
    <div class="max-w-screen-xl flex flex-col w-full ">
        <!-- Title and Breadcrumb -->
        <nav class="flex mb-4" aria-label="Breadcrumb">
            <ol class="inline-flex items-center space-x-1 md:space-x-3">
            <li class="inline-flex items-center">
                <a href="../index.html" class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-blue-600 dark:text-gray-400 dark:hover:text-white">
                <svg class="w-3 h-3 mr-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                    <path d="m19.707 9.293-2-2-7-7a1 1 0 0 0-1.414 0l-7 7-2 2a1 1 0 0 0 1.414 1.414L2 10.414V18a2 2 0 0 0 2 2h3a1 1 0 0 0 1-1v-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 0 1 1h3a2 2 0 0 0 2-2v-7.586l.293.293a1 1 0 0 0 1.414-1.414Z"/>
                </svg>
                Inicio
                </a>
            </li>
            <li>
                <div class="flex items-center">
                <svg class="w-3 h-3 text-gray-400 mx-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
                </svg>
                <a href="../Pedidos/pedidos.html" class="ml-1 text-sm font-medium text-gray-700 hover:text-blue-600 md:ml-2 dark:text-gray-400 dark:hover:text-white">Pedidos</a>
                </div>
            </li>
            <li aria-current="page">
                <div class="flex items-center">
                <svg class="w-3 h-3 text-gray-400 mx-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
                </svg>
                <span class="ml-1 text-sm font-medium text-gray-500 md:ml-2 dark:text-gray-400">Productos</span>
                </div>
            </li>
            </ol>
        </nav>

        <!-- Main heading -->
        <div class="flex flex-wrap justify-between items-start">
            <h2 class="mb-4 text-5xl font-extrabold text-gray-900 dark:text-white md:text-5xl lg:text-5xl"><span class="text-transparent bg-clip-text bg-gradient-to-r from-blue-500 to-blue-600">Productos</span></h2>
            <a href="../Proveedor/proveedor.html"><button type="button" class="h-12 text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-base px-5 py-3 text-center">Añadir nuevo proveedor</button></a>
          </div>
        
        <!-- subtitle -->
        <h3 class="text-3xl font-bold dark:text-white mb-4">Añadir nuevo producto</h3>

        <!-- formulario -->
        <form id="productoForm" class="lg:flex lg:flex-wrap lg:gap-12">
            <div id="first-column">
                <div class="flex flex-wrap gap-2">
                    <div class="mb-6 w-full md:min-w-[280px] md:w-[300px] lg:w-1/4">
                        <label for="text" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nombre del producto: </label>
                        <input type="text" id="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required>
                    </div>
                    <div class="mb-6 w-full md:min-w-[280px] md:w-[300px] lg:w-1/4">
                        <label for="text" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Precio por unidad en Soles: </label>
                        <input type="number" id="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required>
                    </div>
                </div>
                <div class="flex flex-wrap gap-2">
                  <!-- Select categoria -->
                    <div class="mb-6 w-full md:min-w-[280px] md:w-[300px] lg:w-1/4">
                        <label for="countries" class="block w-full mb-2 text-sm font-medium text-gray-900 dark:text-white">Categoría:</label>
                        <select id="countries" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                            <option selected>Seleccione categoría</option>
                            <option value="Ordenadores">Ordenadores</option>
                        </select>
                    </div>
                    <!-- Select Proveedor -->
                    <div class="mb-6 w-full md:min-w-[280px] md:w-[300px] lg:w-1/4">
                        <label for="countries" class="block w-full mb-2 text-sm font-medium text-gray-900 dark:text-white">Proveedor:</label>
                        <select id="countries" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                            <option selected>Seleccione proveedor</option>
                            <option value="PC-Link">PC-Link</option>
                        </select>
                    </div>
                </div>
                <div class="flex flex-wrap gap-2">
                    <div class="mb-6 w-full md:min-w-[280px] md:w-[300px] lg:w-1/4">
                        <label for="text" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Stock: </label>
                        <input type="number" id="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required>
                    </div>
                    <div class="mb-6 w-full md:min-w-[280px] md:w-[300px] lg:w-1/4">
                        <label for="text" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">URL de la foto: </label>
                        <input type="url" id="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required>
                    </div>
                </div>
            </div>
            

            <div id="2nd-column">
                <div class='mb-6'>
                    <label for="text" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Tiempo de garantía:</label>
                    <div class="flex w-full md:min-w-[280px] md:w-[300px] lg:w-1/4">
                        <input type="number" id="text" class="flex-shrink-0 z-10 w-1/3 inline-flex items-center py-2.5 px-4 text-sm font-medium text-center text-gray-500 bg-gray-100 border border-gray-300 rounded-l-lg hover:bg-gray-200 focus:ring-4 focus:outline-none focus:ring-gray-100 dark:bg-gray-700 dark:hover:bg-gray-600 dark:focus:ring-gray-700 dark:text-white dark:border-gray-600" required>
                        <label for="states" class="sr-only">Escoja un periodo</label>
                        <select id="states" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-r-lg border-l-gray-100 dark:border-l-gray-700 border-l-2 focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                            <option selected>Periodo de tiempo</option>
                            <option value="dias">Días</option>
                            <option value="meses">Meses</option>
                            <option value="anios">Años</option>
                        </select>
                    </div>
                </div>
                
                <div class="mb-6 w-full md:min-w-[280px] md:w-[300px] lg:w-1/2">
                    <label for="message" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Descripción</label>
                    <textarea id="message" rows="4" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Escriba aquí..."></textarea>
                </div>
                <div class="flex items-start mb-6">
                  <div class="flex items-center h-5">
                      <input id="remember" type="checkbox" value="" class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-blue-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800" required>
                  </div>
                  <label for="remember" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Habilitado</label>
                </div>
                <button id="registerUserButton" type="submit" class="lg:w-3/4 text-white bg-gradient-to-r from-cyan-500 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-cyan-300 dark:focus:ring-cyan-800 font-medium rounded-lg text-base px-5 py-3 text-center mr-2 mb-2">Enviar y guardar</button>
                <!-- <button type="submit" class="text-white bg-indigo-700 hover:bg-indigo-800 focus:ring-4 focus:outline-none focus:ring-indigo-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-indigo-600 dark:hover:bg-indigo-700 dark:focus:ring-indigo-800">Actualizar</button>
                <button type="submit" class="text-white bg-rose-700 hover:bg-rose-800 focus:ring-4 focus:outline-none focus:ring-rose-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-rose-600 dark:hover:bg-rose-700 dark:focus:ring-rose-800">Eliminar</button> -->
            </div>
        </form>
        <!-- subtitle -->
        <h3 class="text-xl font-bold dark:text-white mb-4">¿Desea añadir una nueva categoría?</h3>
        <!-- formulario -->
        <form id="empleadoForm">
          <div class="flex flex-col gap-2">
              <div class="mb-6 w-full md:min-w-[280px] md:w-[300px] lg:w-1/4">
                  <label for="text" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nombre categoría:</label>
                  <input type="text" id="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required>
              </div>
              <div class="mb-6 w-full md:min-w-[280px] md:w-[300px]">
                <label for="message" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Descripción categoría</label>
                <textarea id="message" rows="4" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Escriba aquí..."></textarea>
              </div>
            </div>
          <button id="registerButton" type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Registrar</button>
          <!-- <button type="submit" class="text-white bg-indigo-700 hover:bg-indigo-800 focus:ring-4 focus:outline-none focus:ring-indigo-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-indigo-600 dark:hover:bg-indigo-700 dark:focus:ring-indigo-800">Actualizar</button>
          <button type="submit" class="text-white bg-rose-700 hover:bg-rose-800 focus:ring-4 focus:outline-none focus:ring-rose-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-rose-600 dark:hover:bg-rose-700 dark:focus:ring-rose-800">Eliminar</button> -->
      </form>
        <!-- subtitle -->
        <h3 class="text-3xl font-bold dark:text-white mt-8">Lista de productos</h3>
        <!-- Table -->
        <div class=" my-5 relative overflow-x-auto shadow-md sm:rounded-lg border  dark:border-gray-500">
          <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
              <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                  <tr>
                      <th scope="col" class="px-6 py-3">
                          ID Producto
                      </th>
                      <th scope="col" class="px-6 py-3">
                        <span class="sr-only">Image</span>
                    </th>
                      <th scope="col" class="px-6 py-3">
                          Nombre
                      </th>
                      <th scope="col" class="px-6 py-3">
                          Categoría
                      </th>
                      <th scope="col" class="px-6 py-3">
                          Precio unidad
                      </th>
                      <th scope="col" class="px-6 py-3">
                        Proveedor
                    </th>
                      <th scope="col" class="px-6 py-3">
                        Stock
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Tiempo garantía
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Descripción
                    </th>
                      <th scope="col" class="px-6 py-3 text-center">
                        Editar
                      </th>
                      <th scope="col" class="px-6 py-3 text-center">
                        Eliminar
                      </th>
                      <!-- <th scope="col" class="px-6 py-3">
                          <span class="sr-only">Edit</span>
                      </th> -->
                  </tr>
              </thead>
              <tbody id="empleado_tbody">
                  <!-- <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                      <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                          1
                      </th>
                      <td class="px-6 py-4">
                          Luis Gerardo
                      </td>
                      <td class="px-6 py-4">
                          Bigoria Escobedo
                      </td>
                      <td class="px-6 py-4">
                        luisbi@subacom.com
                        </td>
                      <td class="px-6 py-4 text-right">
                          <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Editar</a>
                      </td>
                      <td class="px-6 py-4 text-right">
                        <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Eliminar</a>
                    </td>
                  </tr> -->
              </tbody>
          </table>
        </div>

    </div>
  </main>
    
  <footer class="bg-white rounded-lg shadow m-4 dark:bg-gray-800 mt-auto">
    <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
      <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2023 <a href="https://flowbite.com/" class="hover:underline">Subacom™</a>. Diseñado por @GonzaloGutierrez
    </span>
    <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0">
        <li>
            <a href="#" class="hover:underline">Contacto</a>
        </li>
    </ul>
    </div>
  </footer>

  <!-- flowbite -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.js"></script>
  <script src="../../static/js/empleado.js"></script>
  <script src="../../static/js/components/navbar.js"></script>
</body>
</html>